<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <title>Sign Up</title>
    <link rel="icon" type="image/x-icon" href="../images/blogCanvas.ico">
</head>

<body>
    <div id="container">
        <form action="/register" method="POST" id="form1" novalidate autocomplete="off">
            <div class="main">
                <h1>Sign Up</h1>
            </div>

            <div class="signup">
                <div class="inputs">
                    <input type="text" name="name" id="name" required placeholder="" autocomplete="new-name">
                    <label><i class="fa fa-user" aria-hidden="true"></i> Name</label>
                </div>
                <div class="inputs">
                    <input type="text" name="email" id="email" required placeholder="" autocomplete="new-email">
                    <label><i class="fa fa-envelope" aria-hidden="true"></i> Email</label>
                </div>
                <div class="inputs">
                    <input type="tel" name="mobile" id="mobile" required placeholder="" autocomplete="new-mobile">
                    <label><i class="fa fa-mobile" aria-hidden="true"></i> Mobile</label>
                </div>
                <div class="inputs">
                    <input type="password" name="password" id="password" required placeholder="">
                    <label><i class="fa fa-key" aria-hidden="true"></i> Password</label>
                </div>
                <div class="button">
                    <button id="btn-2" type="submit" value="register">Sign up <i class="fa fa-sign-in"
                            aria-hidden="true"></i></button>
                </div>
                <div class="end">
                    <h5>Already a user <i class="fa fa-user" aria-hidden="true"></i> ?<a href="/login"> Login Now</a>
                    </h5>
                </div>

            </div>
    </div>
    </form>

    <!-- <script src="database.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.4.3/bcrypt.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <script>

        document.getElementById('form1').addEventListener('submit', function (event) {
            event.preventDefault();


            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            var mobile = document.getElementById('mobile').value;
            var name = document.getElementById('name').value;
            var isValidEmail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
            var isValidPassword = isValidPass(password);
            var validatemp = validateempty(name, email, password, mobile);

            if (!validatemp) {
                toastr.error("Fields cannot be empty");
                return;
            }
            if (!isValidEmail) {

                toastr.error("Invalid email ID");
                return;
            }

            if (!isValidPassword) {
                // toastr.error("Invalid password");
                toastr.info("Password requirements:<ul><li>At least 8 characters long</li><li>Must not contain spaces</li><li>Must contain atleast one capital letter</li><li>Must contain atleast one integer value</ul>", "", {
                    allowHtml: true
                });
                return;
            }


            this.submit();
        });

        function isValidPass(password) {
            // Check for blank space
            if (password.includes(' ')) {
                return false;
            }

            // Check minimum length
            if (password.length < 8) {
                return false;
            }

            // Check for at least one capital letter
            if (!/[A-Z]/.test(password)) {
                return false;
            }

            // Check for at least one number
            if (!/\d/.test(password)) {
                return false;
            }

            return true;
        }

        function validateempty(name, email, password, mobile) {
            if (name === '' || email === '' || password === '' || mobile === '') {
                return false;
            }
            else {
                return true;
            }
        }
    </script>


</body>

</html>