@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    /* font-family: 'Signika', sans-serif; */
    font-family: 'Great Vibes', cursive;
    margin: 0;
    padding: 0;
    background-color: black; 
    background-image: url("/images/welcome.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
}
.h1 {

    /* background: -webkit-linear-gradient(blue, red); */
    /* background-clip: border-box; */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #802BB1;
    font-size: 35px;
    font-family: 'Great Vibes', cursive;
    /* transition: transform 0.5s ease-in-out; */
    
}
h1 span{
    color:  lightseagreen;
}


.logo {
    display: flex;
    align-items: center;
  }

  .logo-icon {
    width: 80px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
    margin: 0px 0px;
    margin-right: 10px; /* Adjust the spacing between the icon and text */
  }


  
.h2{
    color: white;
    font-family: 'Signika', sans-serif;
    font-weight: 300;
}

.h1:hover, .h2:hover {
    transform: scale(1.1) translateX(5px);
}

.h1,
.h2,
.btn {
    margin: 10px;
    text-align: center;
}

.h1 {
    font-size: 2.25rem;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    width: 90%;
}

.h2 {
    font-size: 24px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#login,
#register {
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    /* background: linear-gradient(#61acc3, #041092); */
    background: #802BB1;;
    border: none;
    border-radius: 5px;
}

#login:hover,
#register:hover {
    /* background: linear-gradient(45deg, blue, red); */
    background: #D1D7E0;
    color: black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.blogimg{
    height: 20%;
}

button {
    padding: 12px 24px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
 
}
/* @media(max-width:734px)
{
    h1{
        font-size: 2rem;
    }
} */

