@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');
/* @import "../../node_modules/toaster-js/default.scss"; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Signika', sans-serif;
  /* background: linear-gradient(0.25turn, #EAF6FF, #FFFFE6, #FFF4E6); */
  /* background: #2D283E; */
  background: #fafafb;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav h1 {
  color: var(--primary-color);
}
.active {
  color: #d3531c;
  pointer-events: none;
}
nav a {
  color: var(--primary-color);
  transition: var(--transition);
}

nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bolder-font);
}
.ul-main {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2D283E;
  position: fixed;
  top: 0;
  width: 100%; /* Set the width to 100% to span the entire width of the viewport */
  z-index: 100; /* Set a higher z-index to make sure the header is above other content */
}

li {
  float: left;
}

li a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
  /* background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-size: 20px;
  font-weight: bold;

}
.navigation input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 16px;
  border: none;
  font-family: 'Signika', sans-serif;
}

.search-container {
  float: right;
}
.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.search-container button:hover {
  background: #ccc;
}
@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }
  .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 60px; /* Adjust the width as needed */
  height: 60px; /* Adjust the height as needed */
  margin-right: 8px; /* Adjust the spacing between the icon and text */
}

.logo-text {
  font-size: 24px; /* Adjust the font size as needed */
  margin: 0;
}
li a:hover {
  text-decoration: none;
  color: #d3531c;

}
#create{
  padding: 12px 24px;
}

#logout,#create {

  font-family: 'Signika', sans-serif;
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin-top: 9px;
  text-decoration: none;
  background:  #802BB1;
  border: none;
  border-radius: 0.375rem;
}

#logout:hover,#create:hover {
  background: #d3531c;
  cursor: pointer;
}
#create{
  border-radius: 5px;
  padding: 20px 40px;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.input{
  margin-bottom: 20px;
  font-size: 25px;
  font-family: 'Signika', sans-serif;
}

.input [type="text"]{
  font-size: 17px;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: 400;
  margin-left: 15px;
  font-family: 'Signika', sans-serif;
}


textarea {
  width: 100%; 
  height: 200px; 
  resize: vertical;
  padding: 8px; 
  font-size: 20px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 15px;
  font-family: 'Signika', sans-serif;
}
text:focus{
  border-color: #007bff; /* Change border color on focus */
  outline: none; /* Remove the default outline */
}
/* Optional: Add styles for focus and hover state */
textarea:focus {
  border-color: #007bff; /* Change border color on focus */
  outline: none; /* Remove the default outline */
}

textarea:hover {
  border-color: #555; /* Change border color on hover */
}

h2{
  color: #802BB1;
  /* background: -webkit-linear-gradient(blue, red);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-size: 40px;
}


.blogs{
  background-color: white;
  margin-top: 25px;
}

#delete,
#update {
  font-family: 'Signika', sans-serif;
    text-align: center;
    /* padding: 20px 16px; */
    text-decoration: none;
    background: #802BB1;
    /* margin-bottom: 10px; */
    width: 100px;
    padding: 12px 24px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

#delete:hover,
#update:hover {
    /* background: linear-gradient(45deg, blue, red); */
    background: #d3531c;
    cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.li-blogs{
  font-family: 'Signika', sans-serif;
}

.like-btn,.view-comments-btn,.share-btn{
  background-color: #fafafb;
  border: none;
  margin: 3% 0% 0% 2%;
  padding: 10px 20px;
  border-radius: 0.365rem;
  /* margin-top: 3%;
  height: 32px;
  width: 32px; */
  /* padding: 5px 10px;
  border:none;
  border-radius: 0.354rem;
  margin-top: 25px;
  font-family: 'Signika', sans-serif; */
}
.like-btn:hover,.view-comments-btn:hover,.share-btn:hover,.submit-comment:hover{
  cursor: pointer;
  background-color: rgb(220, 218, 218);
  transition: 0.3s ease-in-out;
}

.comment-form{
  margin-top: 3%;
  border: 1px solid rgb(220, 219, 219);
  width: 35%;
  border-radius: 0.375rem;
  padding: 10px 20px;
}
.text{
  font-size: 14px;
  padding: 6px 12px;
  border: 1px solid rgb(220, 219, 219);
  border-radius: 0.375rem;
  font-weight: 400;
  margin-left: 8px;
  font-family: 'Signika', sans-serif;
}
.submit-comment{
  font-family: 'Signika', sans-serif;
  padding: 6px 12px;
  border: 1px solid rgb(220, 219, 219);
  border-radius: 0.375rem;
}
/* .area{
  width: 25%; 
  height: 150px; 
  resize: vertical;
  padding: 8px; 
  font-size: 14px; 
  border: 1px solid #ccc; 
  border-radius: 0.375rem;
  box-sizing: border-box; 
  margin-top: 15px;
  font-family: 'Signika', sans-serif;
} */

/* .input [type="text"],[type="tel"],[type="password"]{
  font-size: 17px;
  padding: 8px 16px;
  border-radius: 5px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  margin-left: 15px;
  
} */

.comments-section{
  margin: 3% 0% 0% 2%;
}

.like-count{
  margin-top: 2%;
}
.odd-click{
  background-color: #007bff;
}

nav {
  /* padding: 1.2rem 1rem; */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 6px;
  /* padding: 1.5rem 3.5rem; */
  background-color: #2D283E;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.main{
  font-family: 'Signika', sans-serif;
  background-color: var(--bg-color);
  padding: 10px 20px;
  margin-top: 25px;
  
}



.footer-distributed{
	background:#2D283E;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3,.logo h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span,.logo h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color: lightseagreen;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
  
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: rgb(251, 250, 250);
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 40px; /* Increase the padding for a bigger button */
  cursor: pointer;
  color: white;
  font-size: 28px; /* Adjust the font size */
  height: auto; /* Remove the height property */
}

#createblog{
  padding: 20px 40px;
  border-radius: 0.375rem;
  border: none;
  background-color: lightseagreen;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Signika', sans-serif;
}

#createblog:hover{
  cursor: pointer;
  background-color: #d3531c;
}

.createblogbtn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs{
  position: relative;
}

.inputs input{
  width: 30%;
padding: 10px 0;
font-size: 16px;
color: #555353;
margin-bottom: 30px;
border: none;
border-bottom: 1px solid #b9b7b7;
outline: none;
background: transparent;
font-family: 'Signika', sans-serif;
}

.inputs label{
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #0e0e0e;
  pointer-events: none;
  transition: .5s;
  font-family: 'Signika', sans-serif;
}

.inputs input:focus ~ label,
.inputs input:valid ~ label,.inputs textarea:focus ~ label,.inputs textarea:valid ~ label {
top: -20px;
left: 0;
color: #03e9f4;
font-size: 12px;
}


